{% extends 'base.html' %}

{% block content %}

<h1>Поздравляем!</h1>
<p>Вы завершили обучение по программе "{{subject.get_title_display}}"</p>

<br>
<div class="d-flex">
    <form method="post" action="{{subject.get_absolute_url}}" class="me-2">
        {% csrf_token %}
        <input type="hidden" name="reset_subject" value="true">
        <button id="reset-test-button" class="btn btn-dark" type="submit" name="reset_test">Пройти обучение заново</button>
    </form>
    <a class="btn btn-dark" href="{% url 'study:test' subject.slug %}">Перейти к тестированию</a>
</div>

{% endblock %}