{% load mptt_tags static %}
{% if request.user.is_authenticated %}
<div class="nested-comments">
    {% recursetree post.comments.all %}
    <ul id="comment-thread-{{ node.pk }}">
        <li class="card border-0">
            <div class="row">
                <div class="col-md-2">
                    <img src="{% if node.user.profile.photo %}{{ node.user.profile.photo.url }}{% else %}{% if node.user.profile.sex == 'man' %}{% static 'deps/default.png' %}{% else %}{% static 'deps/default_woman.png' %}{% endif %}{% endif %}" style="width: 100px;height: 100px;object-fit: cover; border-radius: 50%;" alt="{{ node.user }}"/>
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h6 class="card-title">
                            <p>{{ node.user.username }}</p>
                        </h6>
                            {% if node.image %}
                                <img src="{{ node.image.url }}" alt="Image for comment" width="150">
                            {% endif %}
                        <p class="card-text">
                            {{ node.content }}
                        </p>
                        <a class="btn btn-sm btn-dark btn-reply" href="#commentForm" data-comment-id="{{ node.pk }}" data-comment-username="{{ node.user }}">Ответить</a>
                        {% if request.user == node.user %}
                            <button class="btn btn-sm btn-danger btn-delete" data-comment-id="{{ node.pk }}">Удалить</button>
                        {% endif %}
                        <hr/>
                        <time>{{ node.time_create }}</time>
                    </div>
                </div>
            </div>
        </li>
        {% if not node.is_leaf_node %}
            {{ children }}
        {% endif %}
    </ul>
    {% endrecursetree %}
</div>

{% if request.user.is_authenticated %}
    <div class="card border-0">
        <div class="card-body">
            <h6 class="card-title">
                Форма добавления комментария
            </h6>
                <div id="commentError" class="alert alert-danger d-none" role="alert">
                    Вы можете оставлять комментарии не чаще чем раз в минуту.
                </div>
<form method="post" action="{% url 'main:comment_create_view' post.pk %}" id="commentForm" name="commentForm" data-post-id="{{ post.pk }}" enctype="multipart/form-data">
    {{ form.content }}

    <!-- Добавляем input для загрузки изображений -->
    <input type="file" name="image" id="imageUpload" class="form-control" style="display:none;" accept="image/*">

    <div class="d-grid gap-2 d-md-block mt-2">
        <button type="submit" class="btn btn-dark" id="commentSubmit">Отправить</button>
        <label for="imageUpload" class="btn btn-light ms-2" style="margin-left: 10px;">
            <i class="fas fa-paperclip"></i>
        </label>
    </div>
</form>

        </div>
    </div>
{% endif %}
{% else %}
<div class="alert alert-warning" role="alert">
    Пожалуйста, <a href="{% url 'users:login' %}?next={{ request.path }}">войдите</a>, чтобы видеть комментарии и оставлять свои.
</div>
{% endif %}
{% block script %}
<script src="{% static 'deps/js/comments.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const deleteButtons = document.querySelectorAll('.btn-delete');
        deleteButtons.forEach(button => {
            button.addEventListener('click', function() {
                const commentId = this.getAttribute('data-comment-id');
                const postId = "{{ post.pk }}"; // Получаем id поста
                const csrfToken = '{{ csrf_token }}'; // Получаем CSRF токен
                const deleteUrl = `/post/${postId}/comments/delete/${commentId}/`; // Формируем правильный URL

                    fetch(deleteUrl, {
                        method: 'DELETE',
                        headers: {
                            'X-CSRFToken': csrfToken,
                            'X-Requested-With': 'XMLHttpRequest'
                        }
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Сетевая ошибка.');
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.success) {
                            // Удаляем комментарий из DOM
                            const commentElement = this.closest('li');
                            commentElement.remove();
                        } else {
                            alert(data.error);
                        }
                    })
                    .catch(error => console.error('Ошибка:', error));
            });
        });
    });
</script>
{% endblock %}