{% if messages %}
    <div id="message-container">
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <script>
        setTimeout(function() {
            const messageContainer = document.getElementById('message-container');
            if (messageContainer) {
                messageContainer.style.display = 'none';
            }
        }, 5000); // Удаляем сообщение через 5 секунд
    </script>
{% endif %}