{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+2BAWMjx/VZTGCAphc+ppHphZg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% if page_obj.has_other_pages %}
<nav class="list-pages">
    <ul>
        <!-- Кнопки для первой и последней страницы -->
        {% if page_obj.number > 3 %}
        <li class="page-num first-page">
          <a href="?page=1"><i class="fa-solid fa-angle-double-left"></i></a>
        </li>
        {% endif %}

        {% if page_obj.has_previous %}
        <li class="page-num previous-page">
          <a href="?page={{ page_obj.previous_page_number }}"><i class="fa-solid fa-angle-left"></i></a>
        </li>
        {% endif %}

        {% for p in paginator.page_range %}
        {% if page_obj.number == p %}
        <li class="page-num current-page">{{ p }}</li>
        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
        <li class="page-num">
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-num next-page">
          <a href="?page={{ page_obj.next_page_number }}"><i class="fa-solid fa-angle-right"></i></a>
        </li>
        {% endif %}

        <!-- Кнопка для последней страницы -->
        {% if page_obj.number < paginator.num_pages|add:"-2" %}
        <li class="page-num last-page">
          <a href="?page={{ paginator.num_pages }}"><i class="fa-solid fa-angle-double-right"></i></a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}