/* Основной блок тела документа */
body {
  background-image: url("../images/bg-image.jpg");   /* Устанавливает фоновое изображение */
  background-repeat: no-repeat;                      /* Изображение не повторяется */
  background-attachment: fixed;                      /* Фиксированное положение изображения */
  background-position: center center;                /* Центрирование изображения */
  background-size: cover;                            /* Масштабирует изображение под размеры экрана */
  height: 100%;                                       /* Высота блока равна высоте окна браузера */
  font-family: 'Roboto', sans-serif;                 /* Основной шрифт для текста */
  display: flex;                                      /* Использование Flexbox для гибкой верстки */
  flex-direction: column;                             /* Элементы располагаются вертикально */
  min-height: 100vh;                                  /* Минимальная высота блока - 100% высоты окна */
}

/* Стилизация стрелок у элементов dropdown */
.dropdown-toggle::after {
  content: none;                                      /* Удаление стандартных стрелок */
}

/* Класс для кастомной тени */
.custom-shadow {
  box-shadow: 5px 5px 25px 19px #000000;              /* Настройка тени */
}

/* Общие стили для html и body */
html, body {
  margin: 0;                                          /* Сброс внешних отступов */
  padding: 0;                                         /* Сброс внутренних отступов */
  height: 100%;                                       /* Высота 100% от родительского элемента */
  width: 100%;                                        /* Ширина 100% от родительского элемента */
  color: #444;                                        /* Основной текстовый цвет */
}

/* Стиль для футера */
footer {
  margin-top: auto;                                   /* Поднимает футер к нижней части контейнера */
}

/* Стили ссылок */
a {
  color: #0059b2;                                     /* Синий цвет ссылки */
  text-decoration: none;                              /* Отсутствие подчеркивания */
}


/* Стили изображений */
img {
  max-width: 600px;                                   /* Ограничивает максимальную ширину изображения */
  height: auto;                                       /* Сохраняет пропорции изображения */
}

/* Дополнительные классы для изображений */
img.img-article-left {
  max-width: 300px;                                   /* Ограничивает максимальную ширину изображения */
  height: auto;                                       /* Сохраняет пропорции изображения */
  float: left;                                        /* Выравнивание изображения слева */
  padding: 0 10px 10px 0;                             /* Внутренние отступы */
}

img.img-article-left.thumb {
  max-width: 150px;                                   /* Ограничивает максимальную ширину миниатюрного изображения */
  height: auto;                                       /* Сохраняет пропорции изображения */
}

/* Очистка плавающих элементов */
.clear {
  clear: both;                                        /* Сбрасывает эффекты float */
}

/* Стили шапки сайта */
.header {
  background: #3F4137;                                /* Темно-зеленый фон */
  height: 60px;                                       /* Высота шапки */
}


/* Основная область контента */
.content {
  padding: 40px 20px 20px 40px;                       /* Внешние отступы вокруг содержимого */
  width: 100%;                                        /* Ширина области контента */
  box-sizing: border-box;                             /* Включает внутренние отступы в общую ширину */
}

/* Навигационные хлебные крошки */
ul.breadcrumbs {
  margin: 0;                                          /* Отступы снаружи */
  padding: 0;                                         /* Внутренние отступы */
  list-style: none;                                   /* Убирает маркеры списка */
  font-size: 20px;                                    /* Размер шрифта */
  font-family: Sans-serif, Arial, Tahoma;             /* Шрифты для навигации */
}

ul.breadcrumbs li {
  display: inline-block;                              /* Размещение элементов в строку */
}

ul.breadcrumbs li a {
  color: #0059b2;                                     /* Ссылки синего цвета */
  text-decoration: none;                              /* Без подчеркиваний */
}

ul.breadcrumbs li a:hover {
  color: #CC0000;                                     /* Красный цвет при наведении */
}

ul.breadcrumbs li:after {
  padding: 0 10px 0 10px;                             /* Отступы после каждого элемента */
  content: "\2192";                                   /* Символ стрелки вправо */
}

ul.breadcrumbs li.last:after {
  content: "";                                        /* Для последнего элемента стрелка не отображается */
}

/* Контрольная панель навигации */
ul.control {
  margin: 0;                                          /* Внешний отступ сверху */
  padding: 60px 0 0 0;                                /* Внутренние отступы */
  list-style: none;                                   /* Убираем маркеры списка */
  font-family: Sans-serif, Arial, Tahoma;             /* Шрифты для панели управления */
  font-size: 18px;                                    /* Размер шрифта */
  width: 100%;                                        /* Ширина всей панели */
}

ul.control li {
  float: left;                                        /* Выровнять элементы влево */
  padding: 0 0 0 10px;                                /* Отступы между элементами */
}

ul.control li.first:before {
  content: "\2190";                                   /* Символ стрелки влево перед первым элементом */
  padding: 0 10px 0 0;                                /* Отступы до первого элемента */
}

ul.control li.last {
  float: right;                                       /* Последний элемент выровнен вправо */
  padding: 0 40px 0 0;                                /* Отступы справа */
}

ul.control li.last:after {
  content: "\2192";                                   /* Символ стрелки вправо после последнего элемента */
  padding: 0 0 0 10px;                                /* Отступы после последнего элемента */
}

ul.control li a {
  color: #0059b2;                                     /* Синие ссылки */
  text-decoration: none;                              /* Без подчеркиваний */
}

ul.control li a:hover {
  color: #CC0000;                                     /* Красный цвет при наведении */
}

/* Футер сайта */
#footer {
  box-sizing: border-box;                             /* Включает внутренние отступы в общую высоту */
  background: #3F4137;                                /* Темно-зеленый фон */
  padding: 5px;                                       /* Внутренние отступы */
  color: #aaa;                                        /* Серый цвет текста */
  font-size: 14px;                                    /* Размер шрифта */
  font-family: Verdana, Geneva, Arial, Helvetica;     /* Шрифты для футера */
  text-align: left;                                   /* Текст выровнен по левому краю */
  overflow: hidden;                                   /* Скрытие переполненного содержимого */
}

#footer a {
  text-decoration: underline;                         /* Подчеркнутые ссылки */
  color: #aaa;                                        /* Серый цвет ссылок */
}

/* Ввод данных формы */
.form-input {
  width: 300px;                                       /* Ширина поля ввода */
  font-size: 16px;                                    /* Размер шрифта */
}

/* Метки полей формы */
.form-label {
  display: inline-block;                              /* Размещаются в строке */
  min-width: 150px;                                   /* Минимальная ширина метки */
  vertical-align: top;                                /* Верхнее выравнивание */
}

/* Сообщения об ошибках формы */
.form-error ul {
  list-style: none;                                   /* Убирают маркеры списка */
  padding: 0;                                         /* Внутренние отступы */
  color: #CC0000;                                     /* Красный цвет ошибок */
}

/* Кнопка отправки формы */
.form-button {
  min-width: 200px;                                   /* Минимальная ширина кнопки */
  font-size: 16px;                                    /* Размер шрифта */
}

/* Пагинация */
.list-pages {
  text-align: center;                                 /* Выравнивание по центру */
  margin: 0 0 20px 0;                                 /* Внешние отступы */
}

.list-pages ul {
  margin: 20px 0 0 0;                                 /* Внешние отступы */
  padding: 0;                                         /* Внутренние отступы */
  list-style: none;                                   /* Убираются маркеры списка */
}

.list-pages ul li {
  display: inline-block;                              /* Размещение элементов в строку */
  margin: 0 7px;                                      /* Отступы между элементами */
}

.list-pages a {
  color: #000;                                        /* Черный цвет ссылок */
  font-size: 24px;                                    /* Размер шрифта */
  text-decoration: none;}

.list-pages .page-num, .page-num-selected {
  display: inline-block;
  width: 60px;
  height: 44px;
  padding: 10px 0; /* Уменьшил верхний отступ для лучшего выравнивания */
  border: 1px solid #d0d0d0;
  border-radius: 30px;
  transition: background-color 0.3s; /* Добавил эффект перехода */
}
.list-pages .page-num:hover {
  box-shadow: 3px 3px 1px #d0d0d0;
  background-color: #f0f0f0; /* Добавил цвет фона при наведении */
}
.list-pages .page-num-selected {
  border: none;
  color: #212529;
  font-size: 20px;
  background-color: #e0e0e0; /* Цвет фона для выбранной страницы */
}
.list-pages .page-num-selected:hover {
  box-shadow: none;
}


/* Стили для анимации мигания */
.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

/* Ключевые кадры для анимации мигания */
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

/* Префикс для WebKit-браузеров */
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.incomplete-subject {
        background-color: rgba(255, 193, 7, 0.1);
        border-left: 4px solid #ffc107;
    }
.form-switch .form-check-input {
    cursor: pointer;
    }
/* Медиа-запросы для адаптивного дизайна */
@media (max-width: 768px) {
    .navbar-nav .nav-link {
        padding: 10px 15px;
        overflow-y: auto; /* Позволяем вертикальную прокрутку */
        max-height: 300px; /* Ограничиваем высоту выпадающего списка */
    }
}

@media (max-width: 576px) {
    .navbar-brand {
        font-size: 1.5rem; /* Уменьшаем шрифт логотипа на небольших экранах */
    }

    .navbar-toggler {
        margin-right: 10px; /* Отступ для гамбургера на мобильных устройствах */
    }

    .dropdown-menu {
        max-height: 400px; /* Максимальная высота для выпадающих списков */
        overflow-y: auto; /* Включаем возможность прокрутки */
    }
}

.custom-file-label {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: all 0.15s ease-in-out;
}

.custom-file-label:hover {
    color: #333;
    background-color: #ebedef;
    border-color: #adbbc1;
}

.custom-file-label.active {
    background-color: #0d6efd !important;
    color: #fff !important;
    border-color: #0d6efd !important;
}

/* Навигационные вкладки */
nav > .nav.nav-tabs {
    border: none;
    color: #fff;
    background: #272e38;
    border-radius: 0;
}

/* Ссылки навигационных вкладок */
nav > div a.nav-item.nav-link, nav > div a.nav-item.nav-link.active {
    border: none;
    padding: 18px 25px;
    color: #fff;
    background: #212529;
    border-radius: 0;
}

/* Активная ссылка навигационной вкладки */
nav > div a.nav-item.nav-link.active:after {
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #e74c3c;
}

/* Контент вкладок */
.tab-content {
    background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top: 5px solid #e74c3c;
    border-bottom: 5px solid #e74c3c;
    padding: 30px 25px;
}

/* Ховер и фокус-состояния ссылок навигации */
nav > div a.nav-item.nav-link:hover, nav > div a.nav-item.nav-link:focus {
    border: none;
    background: #343a40;
    color: #fff;
    border-radius: 0;
    transition: background 0.20s linear;
}


.card-img-top {
    overflow: hidden;
    transition: transform 0.3s ease;
    height: 200px;
}

.card-img-top:hover {
    transform: scale(1.04);
}

a:hover .card-img-top {
    transform: scale(1.04);
}

/*  Видеоплеер для инструктажа */
.video-player {
        overflow: hidden;
        position: relative;
    }

    .video-player video {
        transition: transform 0.3s ease;
    }

    .video-player:hover video {
        transform: scale(1.03);
    }

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 46px; /* Размер кнопки */
    color: white; /* Цвет кнопки */
    background: rgba(0, 0, 0, 0.5); /* Фоновый цвет с прозрачностью */
    border-radius: 50%; /* Радиус закругления */
    padding: 10px;
    opacity: 0.9;
    cursor: pointer;
    display: none; /* Скрыть кнопку по умолчанию */
}

video.paused + .play-button {
    display: block; /* Показывать кнопку, когда видео на паузе */
}


video::-webkit-media-controls-play-button {
  background-color: #0d6efd;
  border-radius: 50%;
  opacity: 0.7;
  transform: translateX(20px);
}

video::-webkit-media-controls-volume-slider {
  background-color: #0d6efd;
  padding-top: 0;
  margin-top: 20px;
  padding-bottom: 0;
}

video::-webkit-media-controls-mute-button {
  background-color: #0d6efd;
  border-radius: 50%;
  opacity: 0.7;
}

video::-webkit-media-controls-timeline {
  background-color: #0d6efd;
  padding-bottom: 0;
  margin-bottom: 20px;
}

video::-webkit-media-controls-current-time-display {
  color: #0d6efd;
  opacity: 0.7;
}

video::-webkit-media-controls-time-remaining-display {
  color: #0d6efd;
  opacity: 0.7;
}

video::-webkit-media-controls-fullscreen-button {
  background-color: #0d6efd;
  border-radius: 50%;
  opacity: 0.7;
}

/* Убираем стрелочки у цифрового инпута */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}


.answers {
  display: block;
  width: auto; /* Позволяет кнопке адаптироваться к содержимому */
  min-width: 200px; /* Минимальная ширина для кнопки */
  height: auto;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  padding: 0 10px; /* Добавление горизонтальных отступов */
  box-sizing: border-box; /* Учитывать padding в ширине и высоте */
  margin: 5px 10px;
}

.answers span {
  position: relative;
  z-index: 2;
}

.answers:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #0d6efd;
  transition: all .35s;
}

.answers:hover {
  color: #fff;
}

.answers:hover:after {
  width: 100%;
}


#department-filter-form select.form-control:hover {
        background-color: #f7f7f7; /* Светлый серый оттенок */
        border-color: #007bff; /* Синий акцент */
        box-shadow: 0 0 0 0.25rem rgba(0,123,255,.1); /* Легкая тень вокруг элемента */
    }
/* ДОСТИЖЕНИЯ */
.icon-achievment {
    font-size: 48px;
}

/* Яркий стиль для выполненных достижений */
.completed {
    color: var(--bs-primary); /* По умолчанию синий цвет Bootstrap */
}

/* Тусклый стиль для невыполненных достижений */
.disabled {
    opacity: 0.5;
    filter: grayscale(100%); /* Делает иконку черно-белой */
}
/* ДОСТИЖЕНИЯ */


.input-group {
        display: flex;
        align-items: center;
    }

    .input-group input {
        flex: 1; /* Позволяет полю ввода занимать все доступное пространство */
        margin-right: 20px; /* Отступ между полем и кнопкой */
    }

    .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

#id_new_password1, #id_new_password2 {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

#id_new_password1:focus, #id_new_password2:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25)
}


/* Улучшение внешнего вида профиля пользователя */
.card .lead {
    font-size: 18px;
    color: #555;
}

.scroll-container {
    overflow-x: auto;
    max-width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
}

/* Кастомизация скроллбара */
.scroll-container::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-radius: 4px;
}
.icon-cards {
  position: relative;
  width: 60vw;
  height: 30vw;
  max-width: 380px;
  max-height: 250px;
  margin: 0;
  color: white;
  perspective: 1000px;
  transform-origin: center;
}
.icon-cards__content {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: translateZ(-30vw) rotateY(0);
  -webkit-animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
          animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
.icon-cards__content.step-animation {
  -webkit-animation: carousel 8s infinite steps(1) forwards;
          animation: carousel 8s infinite steps(1) forwards;
}
.icon-cards__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80vw;
  height: 60vw;
  max-width: 580px;
  max-height: 450px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  transform-origin: center;
  overflow: hidden;
}
.icon-cards__item:nth-child(1) {
  background: #343a40 ; /* Темно-серый */
  transform: rotateY(0) translateZ(35vw);
}
.icon-cards__item:nth-child(2) {
  background: #212529; /* Средне-серый */
  transform: rotateY(120deg) translateZ(35vw);
}
.icon-cards__item:nth-child(3) {
  background: #adb5bd; /* Светло-серый */
  transform: rotateY(240deg) translateZ(35vw);
}


@-webkit-keyframes carousel {
  0%, 17.5% {
    transform: translateZ(-35vw) rotateY(0);
  }
  27.5%, 45% {
    transform: translateZ(-35vw) rotateY(-120deg);
  }
  55%, 72.5% {
    transform: translateZ(-35vw) rotateY(-240deg);
  }
  82.5%, 100% {
    transform: translateZ(-35vw) rotateY(-360deg);
  }
}

@keyframes carousel {
  0%, 17.5% {
    transform: translateZ(-35vw) rotateY(0);
  }
  27.5%, 45% {
    transform: translateZ(-35vw) rotateY(-120deg);
  }
  55%, 72.5% {
    transform: translateZ(-35vw) rotateY(-240deg);
  }
  82.5%, 100% {
    transform: translateZ(-35vw) rotateY(-360deg);
  }
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.checkbox {
  position: relative;
  margin-top: 15rem;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #212529;
  transition: color 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.checkbox:hover {
  color: #0059b2;
}
.checkbox__checkbox {
  position: relative;
  top: 0;
  width: 1.0625rem;
  height: 1.0625rem;
  background: white;
  border: 1px solid currentColor;
  border-radius: 4px;
  vertical-align: middle;
  transition: background 0.1s ease;
  cursor: pointer;
}
.checkbox__checkbox::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 5px;
  width: 5px;
  height: 11px;
  opacity: 0;
  transform: rotate(45deg) scale(0);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: all 0.3s ease;
  transition-delay: 0.15s;
}
.checkbox__label {
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
}
.checkbox > input:checked ~ .checkbox__checkbox {
  border-color: transparent;
  background: #0059b2;
  -webkit-animation: jelly 0.6s ease;
          animation: jelly 0.6s ease;
}
.checkbox > input:checked ~ .checkbox__checkbox:after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}

@-webkit-keyframes jelly {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}

@keyframes jelly {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}

.card-header {
  cursor: pointer;
}


.card:hover {
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-body {
    flex-grow: 1; /* Растягиваем содержимое карточки */
}

.avatar {
    transition: transform 0.2s; /* Плавный переход */
}

.avatar:active {
    transform: scale(1.2); /* Увеличение изображения при нажатии */
}

.img-responsive {
    width: 100%; /* или любое другое значение, которое вам нужно */
    height: auto; /* сохраняет пропорции изображения */
    object-fit: cover; /* или contain, в зависимости от вашего предпочтения */
}



div[class*=box] {
  height: 33.33%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-1 { background-color: #0d6efd; }
.box-2 { background-color: #3C3C3C; }
.box-3 { background-color: #198754; }

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

/*
========================
      BUTTON ONE
========================
*/
.btn-one {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #0d6efd;
  border-bottom-color: #0d6efd;
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}


/*
========================
      BUTTON TWO
========================
*/
.btn-two {
  color: #FFF;
  transition: all 0.5s;
  position: relative;
}
.btn-two span {
  z-index: 2;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.btn-two::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.1);
}
.btn-two::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.1);
}
.btn-two:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255,255,255,0);
}
.btn-two:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255,255,255,0);
}


/*
========================
      BUTTON THREE
========================
*/
.btn-three {
  color: #FFF;
  transition: all 0.5s;
  position: relative;
}
.btn-three::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.1);
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.btn-three::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1,1);
}


.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


.like-dislike-btns .btn {
    margin-right: 10px;
    padding: 5px 15px;
    font-size: 14px;
}

/* Иконки Bootstrap */
.bi {
    margin-right: 5px;
}

/* Общий контейнер для кнопок и текста рейтинга */
.rating-buttons {
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Отступ для блока с рейтингом */
.rating-sum {
    margin-left: 20px;
}


.bi-star-fill {
    color: gold;
}

.stronger {
    font-weight: bold;
}


@import url("//fonts.googleapis.com/css?family=Roboto:500");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

.button-container {
  display: flex;
  justify-content: flex-end; /* Выравнивает содержимое по правому краю */
}

.face-button {
  height: 64px;
  display: inline-block;
  border: 3px solid #0d6efd;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #0d6efd;
  overflow: hidden;
}
.face-button .icon {
  margin-right: 6px;
}
.face-button .face-primary,
.face-button .face-secondary {
  display: block;
  padding: 0 32px;
  line-height: 64px;
  transition: margin 0.4s;
}
.face-button .face-primary {
  background-color: #0d6efd;
  color: #fff;
}
.face-button:hover .face-primary {
  margin-top: -64px;
}


#toggle-2fa {
    width: auto; /* Или укажите фиксированную ширину */
    padding: 10px 20px; /* Увеличьте отступы для лучшего внешнего вида */
}






.custom-section { padding-top: 100px; padding-bottom: 50px; }
.about-us-header { color: #444; margin-bottom: 40px; }
.about-us-text { line-height: 1.7; color: #666; }
.address-container { margin-top: 60px;
    border-left: 3px solid #e9ecef;
     padding-left: 20px;
      max-width: 800px;
      width: 100%;
      text-align: center; }
.address-title { color: #444; margin-bottom: 10px; }
.address-details { color: #777; } @media (max-width: 768px) { .about-us-header { font-size: 24px; } .address-container { margin-top: 30px; }






