{% extends 'base.html' %}

{% block content %}

<h1>Профиль</h1>
<form id="profile-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if user.photo %}
    <p><img id="profile-photo" src="{{ user.photo.url }}" class="rounded-circle" style="width: 250px; height: 250px; border-radius: 50%;">
    {% else %}
    <p><img id="profile-photo" src="{{ default_image }}">
    {% endif %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p>
            {% if f.name != 'photo' %}
                <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>
            {% endif %}
            {{ f }}

        </p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <div id="success-message" class="alert alert-success" style="display:none;"></div>
    <div id="error-message" class="alert alert-danger" style="display:none;"></div>
    <p><button class="btn btn-dark" type="submit">Сохранить</button></p>
</form>
{% if not perms.users.social_auth %}
<hr>
<p><a href="{% url 'users:settings_user' %}">Настройки</a></p>
{% endif %}
{{ redirect_to_login_immediately }}

{% block script %}
<script>
$(document).ready(function() {
  // Обработчик изменения файла
  $('#id_photo').change(function(event) {
    var reader = new FileReader();

    reader.onload = function(e) {
      $('#profile-photo').attr({
        src: e.target.result,
        class: 'rounded-circle',
        style: 'width: 250px; height: 250px; border-radius: 50%;'
      }); // Обновляем изображение с нужными атрибутами
    }

    reader.readAsDataURL(this.files[0]); // Читаем файл как Data URL
  });

  $('#profile-form').submit(function(event) {
    event.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "users:edit_profile" %}',
      data: new FormData(this),
      processData: false,
      contentType: false,
      success: function(response) {
        $('#success-message').text('Профиль успешно сохранен!').show();
        $('#error-message').hide(); // Скрываем сообщение об ошибке, если оно было показано
      },
      error: function(xhr) {
        // Очищаем предыдущие сообщения об ошибках
        $('#error-message').empty().show();
        // Проверяем, есть ли ошибки валидации
        if (xhr.status === 400) {
          var errors = xhr.responseJSON;
          $.each(errors, function(field, messages) {
            // Отображаем каждую ошибку
            $('#error-message').append('<p>' + messages.join(', ') + '</p>');
          });
        } else {
          $('#error-message').text('Произошла ошибка при сохранении профиля: ' + xhr.statusText).show();
        }
      }
    });
  });

  setTimeout(function() {
    $('#success-message, #error-message').fadeOut();
  }, 5000);
});
</script>
{% endblock %}
{% endblock %}