{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>Восстановление пароля</h1>

<form method="post">
    {% csrf_token %}
    <p>
        <label class="form-label" for="id_email">{{ form.email.label }}: </label>
        {{ form.email}}
    </p>
    <div class="form-error">{{ form.email.errors }}</div>

    <button class="btn btn-dark" type="submit">Сбросить по E-mail</button>
</form>


<script src="{% static 'deps/js/email_field.js' %}" type="text/javascript">

</script>
{% endblock %}