{% extends 'base.html' %}

{% block content %}
<h1>Пароль изменен</h1>

<p>Поздравляем! Вы успешно изменили пароль своего аккаунта. Используйте его для
  <a href="{% url 'users:login' %}">входа в систему</a>.</p>
<p>Вы будете перенаправлены на страницу аутентификации через <span id="countdown">10</span> секунд.</p>

<div class="alert alert-warning mt-4" role="alert">
  <strong>Внимание!</strong> Двухфакторная аутентификация была отключена.
</div>

<div id="redirect-message" class="mt-4"></div>

<script>
let countdownElement = document.getElementById('countdown');
let countdown = 10;

let countdownInterval = setInterval(function() {
  countdown--;
  countdownElement.textContent = countdown;

  if (countdown <= 0) {
    clearInterval(countdownInterval);
    window.location.href = "{% url 'users:login' %}";
  }
}, 1000);
</script>

{% endblock %}