{% extends 'base.html' %}

{% block content %}

<br><br>

<div class="container-fluid well span6">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div class="span2">
                {% if user.profile.photo %}
                <p>
                    <img class="img-article-left rounded-circle avatar" src="{{user.profile.photo.url}}" style="width: 130px; height: 130px; border-radius: 50%;">
                </p>
                {% endif %}
            </div>

            <div class="span8">
                <h3>{{user.username}}</h3>
                <h6>{{user.cat2}}</h6>
                <h6>{{user.last_name}} {{user.first_name}} {% if user.profile.patronymic %} {{user.profile.patronymic}}{% endif %}</h6>
                <h6>{{user.profile.profession}}</h6>
                <h6>Дата приема на работу: {{ user.profile.date_of_work }}</h6>
            </div>
            <div class="btn-group" role="group">
                <a class="btn btn-primary me-2" href="{% url 'users:edit_profile' %}"> Изменить </a>

                <div class="btn-group" role="group">
                    <a class="btn btn-success w-100 me-2" href="{% url 'profdetails:generate_image' %}">
                        Создать аватарку
                    </a>
                    {% if not perms.users.social_auth %}
                    <a class="btn btn-dark rounded-end me-2" href="{% url 'users:settings_user' %}">
                        Настройки
                    </a>
                    {% endif %}
                </div>
            </div>
            <br>
        </div>
    </div>
</div>


{% endblock %}