{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <h1 class="display-4 text-center mb-4">Соглашение о работе с персональными данными пользователей</h1>

            <p class="lead"><strong>Введение:</strong></p>
            <p>Настоящее соглашение о работе с персональными данными (далее – "Соглашение") регулирует порядок обработки и защиты персональных данных пользователей (далее – "Пользователь") сайта ohrana-truda.m35.dzm (далее – "Сайт"). Используя Сайт, Пользователь подтверждает свое согласие с условиями данного Соглашения.</p>

            <hr class="my-4">

            <p class="lead"><strong>Определения:</strong></p>
            <ol type="1">
                <li><strong>Персональные данные</strong> – любая информация, относящаяся к идентифицированному или подлежащему идентификации физическому лицу.</li>
                <li><strong>Обработка персональных данных</strong> – любое действие (операция) или совокупность действий (операций), совершаемых с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление доступа), обезличивание, блокирование, удаление и уничтожение.</li>
            </ol>

            <hr class="my-4">

            <p class="lead"><strong>Цели обработки персональных данных:</strong></p>
            <ul>
                <li>Обеспечение функционирования Сайта и предоставление услуг Пользователю.</li>
                <li>Улучшение качества услуг и пользовательского опыта.</li>
                <li>Информирование Пользователя о новых продуктах, акциях и других новостях.</li>
                <li>Выполнение обязательств перед Пользователем.</li>
            </ul>

            <hr class="my-4">

            <p class="lead"><strong>Сбор и обработка персональных данных:</strong></p>
            <ol type="1">
                <li>Сайт может собирать следующие персональные данные:<br />
                    • Фамилия, имя, отчество;<br />
                    • Дата рождения;<br />
                    • Адрес электронной почты;<br />
                    • Номер телефона;<br />
                    • Другие данные, необходимые для выполнения услуг.<br /></li>
                <li>Пользователь предоставляет свои персональные данные добровольно и осознанно.</li>
            </ol>

            <hr class="my-4">

            <p class="lead"><strong>Передача персональных данных третьим лицам:</strong></p>
            <ol type="1">
                <li>Персональные данные Пользователя не подлежат передаче третьим лицам без его согласия, за исключением случаев, предусмотренных законодательством.</li>
                <li>В случае передачи персональных данных третьим лицам, обеспечивается их защита в соответствии с требованиями законодательства.</li>
            </ol>

            <hr class="my-4">

            <p class="lead"><strong>Права Пользователя:</strong></p>
            <ul>
                <li>Запрашивать информацию о своих персональных данных, которые обрабатываются.</li>
                <li>Требовать исправления или удаления своих персональных данных.</li>
                <li>Отозвать свое согласие на обработку персональных данных в любое время.</li>
            </ul>

            <hr class="my-4">

            <p class="lead"><strong>Безопасность персональных данных:</strong></p>
            <p>Администрация Сайта принимает необходимые организационные и технические меры для защиты персональных данных от несанкционированного доступа, уничтожения или изменения.</p>

            <hr class="my-4">

            <p class="lead"><strong>Изменения в Соглашении:</strong></p>
            <p>Администрация Сайта оставляет за собой право вносить изменения в данное Соглашение. Все изменения вступают в силу с момента их публикации на Сайте.</p>

            <hr class="my-4">

            <p class="lead"><strong>Контактная информация:</strong></p>
            <p>По всем вопросам, связанным с обработкой персональных данных, Пользователь может обращаться по адресу: {{pochta}}.</p>

            <hr class="my-4">

            <p class="lead"><strong>Заключительные положения:</strong></p>
            <ol type="1">
                <li>Настоящее Соглашение регулируется законодательством РФ.</li>
                <li>Если какое-либо положение данного Соглашения будет признано недействительным или неисполнимым, остальные положения останутся в силе.</li>
            </ol>
        </div>
    </div>
</div>


{% endblock %}