{% extends 'base.html' %}
{% load main_filters %}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Уведомления</h2>
    <div class="accordion" id="notificationsAccordion">
        {% for notification in notifications_and_notices %}
            <div class="card mb-3">
                <div class="card-header p-2 d-flex justify-content-between align-items-center" id="heading_{{ forloop.counter }}">
                    <span>
                        {% if notification.comment %}
                            <i class="bi bi-chat-dots me-2 text-primary"></i><strong>{{ notification.comment.user.username }}</strong> ответил на ваш комментарий:
                        {% else %}
                            <i class="bi bi-bell me-2 text-success"></i>{{ notification.message|truncatewords:10 }}
                        {% endif %}
                    </span>
                    <small class="text-muted">{{ notification.created_at }}</small>
                </div>
                        <div id="collapse_{{ forloop.counter }}" class="collapse" aria-labelledby="heading_{{ forloop.counter }}" data-parent="#notificationsAccordion">
            <div class="card-body d-flex justify-content-between align-items-center">
                {% if notification.comment %}
                    <p>"{{ notification.comment.content }}"</p>
                    <a href="{{ notification.get_absolute_url }}" class="btn btn-outline-dark btn-sm">Читать комментарий</a>
                {% elif notification.is_study %}
                    <span></span><!-- Для баланса -->
                    <a href="{% url 'main:notice_read' notification.pk %}" class="btn btn-outline-dark btn-sm">Успеваемость</a>
                {% else %}
                    <span></span><!-- Для баланса -->
                    <a href="{% url 'main:notice_read' notification.pk %}" class="btn btn-outline-dark btn-sm">Прочитано</a>
                {% endif %}
            </div>
        </div>
            </div>
        {% empty %}
            <div class="alert alert-info" role="alert">
                Уведомлений больше нет
            </div>
        {% endfor %}
    </div>
</div>


<script> document.addEventListener('DOMContentLoaded', () => { const accordionItems = document.querySelectorAll('#notificationsAccordion .card-header'); accordionItems.forEach(item => { item.addEventListener('click', () => { const targetCollapse = item.nextElementSibling; targetCollapse.classList.toggle('show'); }); }); });
</script>

{% endblock %}
