{% extends 'base.html' %}
{% load main_filters %}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Уведомления</h2>
    <ul class="list-group">
        {% for notification in notifications_and_notices %}
    {% if notification.comment %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div>
                <strong>{{ notification.comment.user.username }}</strong> ответил на ваш комментарий:
                <p class="mb-1">"{{ notification.comment.content }}"</p>
            </div>
            <small class="text-muted">{{ notification.created_at }}</small>
            <a href="{{ notification.get_absolute_url }}" class="btn btn-dark btn-sm">Читать комментарий</a>
        </li>
    {% else %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div>
                <p class="mb-1">{{ notification.message|markdown }}</p>
            </div>
            <small class="text-muted">{{ notification.created_at }}</small>
            <a href="{% url 'main:notice_read' notification.pk %}" class="btn btn-dark btn-sm">Успеваемость</a>
        </li>
    {% endif %}
    {% empty %}
        <li class="list-group-item">Уведомлений больше нет</li>
    {% endfor %}
    </ul>
</div>

{% endblock %}
