{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <div class="video-player">
        <video id = "video" width="900" controls controlslist="nodownload" preload="auto" autoplay class="img-fluid">
            <source src="{{ video.file.url }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
            <div id="play-button" class="play-button" onclick="togglePlay()">
        ▶️
    </div>
        </div>
    </div>

    {% if not video.slug == 'finish' %}
    <h2 class="text-center mt-4">Выберите ответ:</h2>
    <div class="d-flex justify-content-center">
        {% for answer in answers %}
        <a href="{{answer.get_absolute_url}}" class="answers"><span>{{ answer.text }}</span></a>
        {% endfor %}
    </div>
</div>
    {% else %}
    <div class="alert alert-info mt-4 d-flex justify-content-center" role="alert">
        Поздравляем, Вы прошли вводныий инструктаж по охране труда
    </div>
    <p class="text-center">
        <a href="{% url 'study:video_detail' 'nachalo' %}" class="btn btn-success">Заново?</a>
    </p>
    {% endif %}
</div>
{% endblock %}
{% block script %}
<script>
    const video = document.getElementById('video');
const playButton = document.getElementById('play-button');

// Показать кнопку "Play" при паузе
video.addEventListener('pause', function() {
    playButton.style.display = 'block';
});

// Скрыть кнопку "Play" при воспроизведении
video.addEventListener('play', function() {
    playButton.style.display = 'none';
});

// Функция переключения воспроизведения
function togglePlay() {
    if (video.paused) {
        video.play();
        playButton.style.display = 'none';
    } else {
        video.pause();
    }
}
</script>
{% endblock %}